/* media */
$mobileSSize: 320;         
$mobileLSize: 425;         
$tabletSize: 768;
$laptopSize: 1024;         
$desktopSize: 1440;        

/* fonts */                
$mainFontFamily: "Times New Roman", Times, serif;;

/* color */                
$mainColor: #66bfbf;          
$secColor: #f76b8a;           
$thirdColor: #eaf6f6;      
$fourthColor: #fcfefe;
$borderColor: #7E7B7B;     

$myMainColor: #0099FF;
$myComplementaryColor: #ffe600;

/* font-size*/             
$titleFontSize: 3em;       
$subTitleFontSize: 2em;  
$regularFontSize: 1.6em;   
$smallFontSize: 1.2em;
$exSmallFontSize: 1em;     
      
/* header & content */     

$headerHeight: 50px;
$marginOfMainContent: 70px;

/* size */
$desktopContentWidth: 1200px; // max width

/* animation time */       
$normalAnimationTime: 0.5s;

